:root{
    /* Code Couleur Principale */
    --bgColor1 : #13798C;
    --bgColor2 : #6B2239;

    /* ----Partie Partner ----- */

    --bgColorPartner : #F7F7F7;

    /* ----Partie Footer ----- */

    --bgTopFooter : #1E1E1E;
    --bgColorFooter1 : #3E0315;
    --bgColorFooter2 : #600622;
    
}